
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/popup.css">
    <script src="css/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        var oldValue="";

        function popUpAllergy(editBtn){
            document.getElementById('light3').style.display='block';
            document.getElementById('fade3').style.display='block';

            var selectedLabel = editBtn.parentNode.textContent.split("\n")[1].trim();
            oldValue = selectedLabel;

            var dd = document.getElementById('allergyList');
            for (var i = 0; i < dd.options.length; i++) {
                if (dd.options[i].text === selectedLabel) {
                    dd.selectedIndex = i;
                    break;
                }
            }
          
        }

        function updateAllergy(){
            var newValue = document.getElementById('allergyList').value;
            var ssn = <?php echo $ssn; ?>;

            $.ajax({
                type: "POST",
                url: 'allergies/updateAllergy.php',
                data: { ssn: ssn, oldValue: oldValue, newValue: newValue},
                success: function(data){
                    document.getElementById('bottomLabel3').textContent = data;
                },
                error: function(data){
                    document.getElementById('bottomLabel3').textContent = data;
                }
            });
        }

        function deleteAllergy(deleteBtn){
            var selectedLabel = deleteBtn.parentNode.textContent.split("\n")[1].trim();
            if (confirm('Are you sure you want to delete this item?')) {
                var ssn = <?php echo $ssn; ?>;
                $.ajax({
                    type: "POST",
                    url: 'allergies/deleteAllergy.php',
                    data: { ssn: ssn, value: selectedLabel},
                    success: function(data){
                        alert(data);
                    },
                    error: function(data){
                        alert(data);
                    }
                });
                location.reload();
            } else {
                // Do nothing!
            }
        }

        function addNewAllergy(addNewItem){
            document.getElementById('light3').style.display='block';
            document.getElementById('fade3').style.display='block';

            document.getElementById('btnSave3').textContent='Add';
            document.getElementById('btnSave3').onclick = function(){ addAllergy(document.getElementById('btnSave3')); };
        }

        function addAllergy(addBtn){
            var newValue = document.getElementById('allergyList').value;
            var ssn = <?php echo $ssn; ?>;

            $.ajax({
                type: "POST",
                url: 'allergies/addAllergy.php',
                data: { ssn: ssn, newValue: newValue},
                success: function(data){
                    document.getElementById('bottomLabel3').textContent = data;
                },
                error: function(data){
                    document.getElementById('bottomLabel3').textContent = data;
                }
            });
        }

        function closeAllergy(){
            document.getElementById('light3').style.display='none';
            document.getElementById('fade3').style.display='none';
            location.reload();
        }

    </script>
</head>


<body>

{{{_sections.allergies}}}

</body>
</html>
