<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />

  <link rel="stylesheet" type="text/css" href="css/patient-table.css">
  <link rel="stylesheet" type="text/css" href="css/logout.css">
  <link rel="stylesheet" type="text/css" href="css/page-background.css">
</head>

<body>
  <div id='top-nav'>
  <a id='logout' href="/login.html">Logout</a>
  </div>

{{{body}}}

<div id="footer_wrapper">
   <div class="footer">

     <!-- Start of copyright -->
       <div class="copyright">
       <p align="right">
         <a href="http://amohammed4.github.io/Contact/" class="big"> Contact</a>&nbsp;&nbsp;|&nbsp;&nbsp;
         <a href="http://amohammed4.github.io/Help" class="big">Help</a>
       </p>
       </div>
   <!-- End of copyright -->
    </div>
  </div>

</body>
</html>
