<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />

  <link rel="stylesheet" type="text/css" href="css/patient-table.css">
  <link rel="stylesheet" type="text/css" href="css/logout.css">
  <link rel="stylesheet" type="text/css" href="css/page-background.css">
</head>

<body>
  <div id='top-nav'>
  <a id='logout' href="/login.html">Logout</a>
  </div>

{{{body}}}

</body>
</html>
