<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />

  <link rel="stylesheet" type="text/css" href="css/patient-table.css">
  <form action="/login.html" method="get">
  <div>
    <input type="hidden" name="action" value="logout">
    <!--input type="hidden" name="goto" value="index.php"   style="background:#00330d; font-family:Arial;"-->
    <input type="submit" value="Log out">
  </div>
</form>
</head>

<body>


{{{body}}}

</body>
</html>
