
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/toggle.css">
    <link rel="stylesheet" type="text/css" href="css/allergies-popup.css">
    <script type="text/javascript" src='css/js/pre-cond-edit-delete.js'></script>
    
</head>
<body>

{{{_sections.medications}}}

</body>

</html>
