html {
    font-family:sans-serif;
    background-image: url('/css/images/background.jpg');
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    height:100%;
   }

   .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   .login-fail {
     color: red;
   }

   .form-signin {							/* Form Sign-in attributes*/
     max-width: 380px;
     padding: 15px 35px 45px;
     margin: 0 auto;
     background-color: #fff;
     border: 2px solid #73AD21;
     border-radius: 25px;
   }
   .form-group{
       margin-right:10px;
       margin-left:10px;
       display:inline-block;
        margin-bottom:0;
        vertical-align:middle;
        height:74px;
   }



    .form-control{

    height:auto;
    padding:6px 6px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:5px;
    width:300px;
     margin-top:10px;
     margin-bottom:10px
    }

    #loginas{
    height:35px;
    width:312px;
    }

    input[type=submit] {
        margin-right:10px;
        margin-left:10px;
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle;
        display: block;
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding:2px;
        width:50px;
        height:30px;
        border-radius: 2px;
        text-align: center;
        background-color:#4CAF50;
        border: 2px solid #00b300;
      }
  input[type=submit]:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .copyright p a {
    color: black;
  }
  .copyright p a:link{
    text-decoration: none;
  }
  .copyright p a:hover {
    text-decoration: underline;
}
