html{
  background-image: url('/css/images/background.jpg');
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  height:120% !important;
}
body{
  margin:0;
}
#patientTable{
  background-color:#ffffff;
  margin:0 !important;
  width:100%;
  table-layout: fixed;
}
tr.table-head{
  background-color:#b3ffb3;
  background: -webkit-linear-gradient(#b3ffb3, 	#e6ffe6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b3ffb3, 	#e6ffe6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #b3ffb3, 	#e6ffe6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b3ffb3, 	#e6ffe6); /* Standard syntax */

}


tr.table-rows td{
  width: 16.6666%;
  overflow:auto;
  text-align: center;
}
tr.table-rows{
  height:70px;
}

#patientTable tbody {
  height:100%;
  overflow-y:scroll;

}


tr.table-rows:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#logo{
   width:40%;
   height:90%;
   padding:5% 30% 20%;

}
