#window{
    width:400px;
    border:solid 1px;

}
html{
  background-image: url('/css/images/background.jpg');
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  height:120% !important;
}
body{


  font-family:Arial;

}

#title_bar{
    background: #FEFEFE;
    height: 25px;
    width: 100%;
}
#button{
    border:solid 1px;
    width: 25px;
    height: 23px;
    float:right;
    cursor:pointer;
}
#box{
    height: 250px;
    background: #DFDFDF;
}
#logo{
   width:40%;
   height:90%;
   padding:5% 30% 20% 43%;

}
