#window{
    width:400px;
    border:solid 1px;

}
html{
  background-image: url('/css/images/background.jpg');
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  height:120% !important;
}
body{


  font-family:Arial;

}

#title_bar{
    background: #FEFEFE;
    height: 25px;
    width: 100%;
}
#button{
    border:solid 1px;
    width: 25px;
    height: 23px;
    float:right;
    cursor:pointer;
}
#box{
    height: 250px;
    background: #DFDFDF;
}
div.patient-stuff{
  width: 85%;
  margin: 0 auto;
  padding: 100px 0 40px;
}
div.page-def{
  padding: 10px;
  vertical-align: middle;
}
div.page-banner{
  width: 85%;
  height:150px;
  margin: 0;


}
div.patient-top-container{
  background-color:#0099ff;
  font-family:Arial;
  background: -webkit-linear-gradient(#0099ff,#33adff, #80ccff, #ccebff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0099ff,#33adff, #80ccff, #ccebff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0099ff,#33adff, #80ccff, #ccebff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0099ff,#33adff, #80ccff, #ccebff); /* Standard syntax */
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

#logo{
   width:40%;
   height:90%;
   padding:5% 30% 20% 43%;

}
