.immLi, .allergyLi, .preLi, .medLi,.statLi{
  padding-top: 6px;

}

#addNewStat,.stat-edit,.stat-delete,#addNewImmunization,.imm-delete, .imm-edit,.allergy-delete, .allergy-edit, #addNewAllergy, .pre-edit, .pre-delete, #addNewPreCon,.med-delete, .med-edit, #addNewMedication{
  margin-right:10px;
  margin-left:10px;
  display:inline-block;
  margin-bottom:0;
  vertical-align:middle;
  float: right;
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding:2px;
  width:50px;
  height:30px;
  border-radius: 2px;
  text-align: center;
  background-color:rgb(230, 230, 230);
  border: 2px solid rgb(230, 230, 230);
}
#addNewStat,#addNewAllergy, #addNewPreCon, #addNewMedication, #addNewImmunization{
  float:left !important;
  width:100px !important;
}

div.pre-value{
  display:inline-block;margin-right:10px;
}
div.pre-entry-date{
  display:inline-block;
}

#addNewStat:hover,.stat-edit:hover,.stat-delete:hover,#addNewImmunization:hover,.imm-delete:hover, .imm-edit:hover,.allergy-edit:hover, .allergy-delete:hover, #addNewAllergy:hover,.pre-edit:hover, .pre-delete:hover, #addNewPreCon:hover, .med-edit:hover, .med-delete:hover, #addNewMedication:hover{
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.toggle {
    background-color: #3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    position: relative;
    border-left: solid 1px #2ab7ec;
    margin-left: 35px;
    background-image: linear-gradient(bottom, rgb(242, 242, 242) 0%, rgb(230, 230, 230) 100%);
    background-image: -o-linear-gradient(bottom, rgb(242, 242, 242) 0%, rgb(230, 230, 230) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(242, 242, 242) 0%, rgb(230, 230, 230) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(242, 242, 242) 0%, rgb(230, 230, 230) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(242, 242, 242) 0%, rgb(230, 230, 230) 100%);
    width: 95%;
    height:37px;

    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(242, 242, 242)), color-stop(1, rgb(230, 230, 230)) );
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #bfbfbf, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #a6a6a6;
    -moz-box-shadow: inset 0px 1px 0px #bfbfbf, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #a6a6a6;
    -o-box-shadow: inset 0px 1px 0px #bfbfbf, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #a6a6a6;
    box-shadow: inset 0px 1px 0px #bfbfbf, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #a6a6a6;
}
li {
    margin: 10px;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.toggle::before {
    background-color: #2561b4;
    content: "\00BB";
    text-align: center;
    width: 35px;
    max-height: 29px;
    height: 100%;
    position: absolute;
    display: block;
    padding-top: 8px;
    top: 0px;
    left: -36px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 0px #07526e;
    border-right: solid 1px #07526e;
    background-image: linear-gradient(bottom, rgb(217, 217, 217) 0%, rgb(204, 204, 204) 100%);
    background-image: -o-linear-gradient(bottom, rgb(217, 217, 217) 0%, rgb(204, 204, 204) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(217, 217, 217) 0%, rgb(204, 204, 204) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(217, 217, 217) 0%, rgb(204, 204, 204) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(217, 217, 217) 0%, rgb(204, 204, 204) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(217, 217, 217)), color-stop(1, rgb(204, 204, 204)) );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #737373, 0px 5px 0px 0px #595959, 0px 10px 5px #0d0d0d;
    -moz-box-shadow: inset 0px 1px 0px #737373, 0px 5px 0px 0px #595959, 0px 10px 5px #0d0d0d;
    -o-box-shadow: inset 0px 1px 0px #737373, 0px 5px 0px 0px #595959, 0px 10px 5px #0d0d0d;
    box-shadow: inset 0px 1px 0px #737373, 0px 5px 0px 0px #595959, 0px 10px 5px #0d0d0d;
}
