

select.date-select, #addDiagnosisList, #addMedicineList{
   background-color: rgb(230, 230, 230);
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1;
   border-radius: 0;
   height: 34px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   }
   td{
     text-align: left;
     padding: 5px;

   }
   tr{
     height:40px;
   }
   table.visit-by-date{
     padding-bottom: 30px;
   }

   tr:nth-child(odd){
     background-color: #f2f2f2;
     top:3px;
   	background-image: linear-gradient(bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%);
   	background-image: -o-linear-gradient(bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%);
   	background-image: -moz-linear-gradient(bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%);
   	background-image: -webkit-linear-gradient(bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%);
   	background-image: -ms-linear-gradient(bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%);
   	background-image: -webkit-gradient(
   	linear,
   	left bottom,
   	left top,
   	color-stop(0, rgb(204, 204, 204)),
   	color-stop(1, rgb(217, 217, 217))
   	);
   	-webkit-box-shadow: inset 0px 1px 0px #737373, 0px 2px 0px 0px #595959, 0px 5px 3px #0d0d0d;
   	-moz-box-shadow: inset 0px 1px 0px #737373, 0px 2px 0px 0px #595959, 0px 5px 3px #0d0d0d;
   	-o-box-shadow: inset 0px 1px 0px #737373, 0px 2px 0px 0px #595959, 0px 5px 3px #0d0d0d;
   	box-shadow: inset 0px 1px 0px #737373, 0px 2px 0px 0px #595959, 0px 5px 3px #0d0d0d;
   }

#addNewVisits, #saveNewVisit, #addDynamicDiagnosis, #addDynamicPrescription, .remMed, .remDiag{
  margin-right:10px;
  margin-left:10px;
  margin-bottom:0;
  vertical-align:middle;
  z-index: 1;
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding:5px;
  width:100px;
  height:30px;
  border-radius: 2px;
  text-align: center;
  background-color:rgb(230, 230, 230);
  border: 2px solid rgb(230, 230, 230);


}

#addDynamicDiagnosis, #addDynamicPrescription,.remMed, .remDiag{
    margin-bottom: 0;
}

#addNewVisits, #saveNewVisit{
  float:left;
}
.remMed, .remDiag{
  float:right;
}

#addNewVisits:hover, #saveNewVisit:hover, #addDynamicDiagnosis:hover, #addDynamicPrescription:hover,.remMed:hover, .remDiag:hover{
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#addNewVisitModal{
  display: none;
  position:absolute;; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height:1000px;
  max-height: 1000px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#edit-message-visits p{
  font-size: 15px;
  padding-bottom: 10px;
}

#edit-message-visits p[name="pass"]{
  color:#4CAF50;
}

#edit-message-visits p[name="fail"]{
  color:red;
}
table.modal-content-visits, .visit-modal-header, .visit-modal-footer{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 2px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop1;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop1;
  animation-duration: 0.8s
}
table.modal-content-visits{
  height:80px !important;
  overflow: auto !important;
}

/* Add Animation */
@-webkit-keyframes animatetop1 {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop1 {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.visit-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 20px;
}

.visit-close:hover,
.visit-close:focus {
  position: relative;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.visit-modal-header,.visit-modal-footer {

    background-color: #5cb85c;
    color: white;

}
.visit-modal-header{
  padding-left: 20px;
  padding-bottom: 25px;
  height:40px;
}
.visit-modal-footer{
  height:40px;
  padding-right: 20px;
  padding-left: 5px;
}
.addMedQuanC {
  float: left;
  margin-right: 10px;
  width:40px;
  text-align:center;
}
.addDiagDiv, .addMedDiv{
  margin-bottom: 20px;
}

#edit-message-visits{
  height:10px;
  float:right;
  padding-bottom: 40px;
}
.allergiesList, .preconUlList, .medUlList, .immUlList{

  padding-top: 40px;
  list-style-type: none;
}
