
ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
}

ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:0px; /*distance between tabs*/
}

ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background-color:#b3ffb3;
    background: -webkit-linear-gradient(#b3ffb3, 	#e6ffe6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b3ffb3, 	#e6ffe6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #b3ffb3, 	#e6ffe6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b3ffb3, 	#e6ffe6); /* Standard syntax */
    border-radius: 3px 3px 0 0;
    outline:none;
}

ul.tabs li a:visited
{
    color: #000;
}

ul.tabs li a:hover
{
    border: 1px solid #4CAF50;
    background:#4CAF50;
    color:white;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    color:black;
    font-weight:bold;
    background: white;
    border: 1px solid #4CAF50;
    border-bottom-color: white;
}


ul.tabs li.selected a:hover
{
    text-decoration: none;
}


div.tabcontents
{
    padding: 50px;
    border: 1px solid #B7B7B7;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;

}
