{{#section 'medications'}}
<link rel="stylesheet" type="text/css" href="css/toggle.css">
<link rel="stylesheet" type="text/css" href="css/allergies-popup.css">
<script type="text/javascript" src='css/js/edit-delete-meds.js'></script>
<script type="text/javascript">
$(document).on('click','.medLi',function(){
  //alert(JSON.stringify($(this).children().css('visibility')));
  var $buttons = $(this).children();
  if($buttons.css('visibility') == 'visible'){
    $(this).parent().toggleClass('down');
    $buttons.hide().css('visibility','hidden').fadeIn("slow");
  }else {
    $(this).parent().toggleClass('down');
      $buttons.hide().css('visibility','visible').fadeIn("slow");
    }
});
</script>
<!-- Show the list of pre-existing conditions -->
<div id='edit-message-meds'><button id="addNewMedication">Add New Item</button></div>
<div>
    <ul class='medUlList'>
      {{#each result}}
        <li class='toggle'>
          <p class='medLi'>
            &nbsp;&nbsp;{{MedicineName}}
            <button class="med-delete">Delete</button>
            <button class="med-edit">Edit</button>
          </p>
        </li>
        <br/>
        {{/each}}
    </ul>

</div>


    <!-- modal window pop up-->

    <div id="myModalMedications" class="modal" name='medications'>

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>
          <h3>Medications</h3>
        </div>
        <div class="modal-body">
          <select id="medList">


          </select>

          <button id="medSave"  class='save'>Save</button>
        </div>
        <div class="modal-footer">

        </div>
      </div>

    </div>


    <div id="fade3" class="black_overlay"></div>

{{/section}}
