

{{#section 'preconditions'}}
<link rel="stylesheet" type="text/css" href="css/toggle.css">
<link rel="stylesheet" type="text/css" href="css/allergies-popup.css">
<script type="text/javascript" src='css/js/edit-delete-precond.js'></script>
<script type="text/javascript">
$(document).on('click','.preLi',function(){
  console.log(JSON.stringify($(this).children('.pre-delete').css('visibility')));
  var $button1 = $(this).children('.pre-delete');
  var $button2 = $(this).children('.pre-edit');
  console.log(JSON.stringify($(this).parent()));
  if(($button1.css('visibility') == 'visible') || ($button2.css('visibility') == 'visible')){

    $(this).parent().toggleClass('down');
    $button1.hide().css('visibility','hidden').fadeIn("slow");
    $button2.hide().css('visibility','hidden').fadeIn("slow");
  }else {
      $(this).parent().toggleClass('down');
      $button1.hide().css('visibility','visible').fadeIn("slow");
      $button2.hide().css('visibility','visible').fadeIn("slow");
    }
});
</script>

<!-- Show the list of pre-existing conditions -->
<div id='edit-message-precond'><button id="addNewPreCon">Add New Item</button></div>
<div>
    <ul class='preconUlList'>
      {{#each result}}
        <li class='toggle'>

            <div class='preLi'>
            <div class='pre-value'>&nbsp;&nbsp;{{Value}} </div>
            <div class='pre-entry-date'>{{formatDate EntryDate "MMMM Do, YYYY"}}</div>
            <button class='pre-delete'>Delete</button>
            <button class='pre-edit'>Edit</button>
          </div>

        </li>
        <br/>
        {{/each}}


    </ul>
</div>




        <!-- modal window pop up-->

        <div id="myModalPrecond" class="modal" name='precond'>

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">×</span>
              <h3>Pre-existing Conditions</h3>
            </div>
            <div class="modal-body">
              <select id="preList">


              </select>

              <button id="preSave"  class='save'>Save</button>
            </div>
            <div class="modal-footer">

            </div>
          </div>

        </div>


        <div id="fade3" class="black_overlay"></div>


{{/section}}
