
{{#section 'visits'}}


<p class='date'>Select a Date:
  <select class='date-select'>
    <option>
    </option>
    {{#each result}}
        <option class='visit-date' name="{{Date_Time}}">
            {{formatDate Date_Time "MMMM Do YYYY"}}
        </option>
    {{/each}}
  </select>
</p>
<br/>
<table class='visit-by-date' width="100%">

</table>




<!-- Pop-Up screen -->
    <div id="light7" class="white_content">

    </div>
    <!-- Add new item Button -->
        <div><button id="addNewVisits">Add New Visit</button></div>
    <div id="fade7" class="black_overlay"></div>

{{/section}}
