
{{#section 'visits'}}

<script type="text/javascript" src="css/js/addNewVisits.js"></script>
<div id='edit-message-visits'><button id="addNewVisits">Add New Visit</button></div>

<p class='date'>Select a Date:
  <select class='date-select'>
    <option>
    </option>
    {{#each result}}
        <option class='visit-date' name="{{Date_Time}}">
            {{formatDate Date_Time "MMMM Do YYYY, h:mm a"}}
        </option>
    {{/each}}
  </select>
</p>
<br/>
<table class='visit-by-date' width="100%">

</table>




<!-- Pop-Up screen -->
    <div id="light7" class="white_content">

    </div>

    <br/> <br/>



    <div id="addNewVisitModal" contenteditable="false" style="border:thin solid black">
      <script type="text/javascript" src="css/js/visit-add-modal.js"></script>
      <div class="visit-modal-header">
        <span class="visit-close">×</span>
        <h2 style="margin-top:20px">New Visit</h2>
      </div>
      <table class='modal-content-visits'>
      <tr id='Visit-Id-Add'>
        <td>Visit ID</td>
        <td id="visitIdAdd"></td>
      </tr>

      <tr id='Physician-Name-Add'>
        <td>Physician Name</td>
        <td id="docNameAdd"></td>
      </tr>

      <tr id='Bill-Num-Add'>
        <td>Bill Number</td>
        <td id="billNumAdd"></td>
      </tr>

      <tr id='Diagnosis-Add'>
        <td>Diagnosis</td>
        <td id="diagnosisAdd">
          <div id="addDiagnosis" contenteditable="false">
              <div id='addDivGroup1'>
              </div>
              <br/>
              <select id="addDiagnosisList">


              </select>

              <button id="addDynamicDiagnosis">Add</button>
          </div>
          <br/>
        </td>
      </tr>

      <tr id='PrescriptionAdd'>
        <td>Prescription</td>
        <td id="prescriptionsAdd">
          <div id="addPrescription" contenteditable="false">
              <div id='addDivGroup2'>
              </div>
              <br/>
              <select id="addMedicineList">

              </select>
              <button id="addDynamicPrescription">Add</button>
          </div>
          <br/>
      </td>
      </tr>

      <tr id='commentsAdd'>
        <td>Comments</td>
        <td id="commentsSuggestionsAdd">
          <div id="addComments" contenteditable="true" style="height:20px;border:thin dotted black">
            <p></p>
          </div>
        </td>
      </tr>

      <tr id='ComplaintsAdd'>
        <td>Complaints</td>
        <td id="complaintAdd">
          <div id="addComplaint" contenteditable="true" style="height:20px;border:thin dotted black">
            <p></p>
          </div>
        </td>
      </tr>
      <tr>
        <td><br/><button id="saveNewVisit">Save</button></td>
        <td>
        </td>
      </tr>
      </table>

        <div class="visit-modal-footer">

        </div>
      </div>



{{/section}}
