{{#section 'immunizations'}}
<link rel="stylesheet" type="text/css" href="css/toggle.css">
<link rel="stylesheet" type="text/css" href="css/allergies-popup.css">
<script type="text/javascript" src='css/js/edit-delete-immunization.js'></script>
<script type="text/javascript">
$(document).on('click','.immLi',function(){
  //alert(JSON.stringify($(this).children().css('visibility')));
  var $buttons = $(this).children();
  if($buttons.css('visibility') === 'visible'){
    $(this).parent().toggleClass('down');
    $buttons.hide().css('visibility','hidden').fadeIn("slow");
  }else {
      $(this).parent().toggleClass('down');
      $buttons.hide().css('visibility','visible').fadeIn("slow");
    }
});
</script>

<!-- Show the list of immunizations conditions -->
<div id='edit-message-immunization'></div>
    <ul style="list-style-type:square">
      {{#each result}}
        <li class='toggle'>
          <p class='immLi'>
            &nbsp;&nbsp;{{Value}}
            <button class="imm-delete">Delete</button>
            <button class="imm-edit">Edit</button>
          </p>
        </li>
        <br/>
        {{/each}}
    </ul>


<!-- Add new item Button -->
    <p><button id="addNewImmunization">Add New Item</button></p>

    <!-- modal window pop up-->

    <div id="myModalImmunizations" class="modal" name='immunizations'>

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>
          <h3>Immunizations</h3>
        </div>
        <div class="modal-body">
          <select id="immList">


          </select>

          <button id="immSave" class='save'>Save</button>
        </div>
        <div class="modal-footer">

        </div>
      </div>

    </div>


    <div id="fade3" class="black_overlay"></div>
{{/section}}
