

{{#section 'preconditions'}}

<!-- Show the list of pre-existing conditions -->
    <ul style="list-style-type:square">

        <li>

            {{#each result}}
            {{Value}} {{EntryDate}}
            <button onclick="popUpPreCon(this)">Edit</button>
            <button onclick="deletePreCon(this)">Delete</button>
            {{/each}}

        </li>
        <br/>

    </ul>





{{/section}}
