
{{#section 'allergies'}}
<link rel="stylesheet" type="text/css" href="css/allergies-popup.css">
<script type="text/javascript" src='css/js/edit-delete-allergy.js'></script>

<!-- Show the list of pre-existing conditions -->
<div id='edit-message'></div>
<div>
    <ul class='allergiesList' style="list-style-type:square">
    {{#each result}}
        <li>
            <p class='allergyLi'>{{Value}}</p>
            <button class='allergy-edit'>Edit</button>
            <button class='allergy-delete'>Delete</button>
        </li>
        <br/>
      {{/each}}
    </ul>
</div>

<!-- Add new item Button -->
    <p><button id="addNewAllergy">Add New Item</button></p>
<!--script type='text/javascript' src='edits.js'></script-->

<!-- modal window pop up-->

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Allergies</h2>
    </div>
    <div class="modal-body">
      <select id="allergyList">


      </select>

      <button id="allergySave">Save</button>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>


<div id="fade3" class="black_overlay"></div>
<!--******************************************-->
  {{/section}}
