{{#section 'immunizations'}}
<!-- Show the list of immunizations conditions -->
    <ul style="list-style-type:square">
      {{#each result}}
        <li class='toggle'>
          <p class='immLi'>
            &nbsp;&nbsp;{{Value}}
            <button class="imm-edit">Edit</button>
            <button class="imm-delete">Delete</button>
          </p>
        </li>
        <br/>
        {{/each}}
    </ul>


<!-- Add new item Button -->
    <p><button id="addNewImmunization">Add New Item</button></p>
{{/section}}
