{{#section 'currentstat'}}
<!-- Show the list of immunizations conditions -->
    <ul style="list-style-type:square">
      {{#each result}}
        <li class='toggle down'>
          <p class='statLi'>
            &nbsp;&nbsp;{{Current_Status}}
          </p>
        </li>
        <br/>
{{/each}}
    </ul>




{{/section}}
