
{{#section 'allergies'}}
<link rel="stylesheet" type="text/css" href="css/allergies-popup.css">
<script type="text/javascript" src='css/js/edit-delete-allergy.js'></script>
<script type="text/javascript">
$(document).on('click','.allergyLi',function(event){
  event.stopPropagation();
  //$(document).unbind();
  console.log(JSON.stringify($(this).children().css('visibility')));
  var $buttons = $(this).children();
  if($buttons.css('visibility') === 'visible'){
    $(this).parent().toggleClass('down');
    $buttons.hide().css('visibility','hidden').fadeIn("slow");
  }else {
      $(this).parent().toggleClass('down');
      $buttons.hide().css('visibility','visible').fadeIn("slow");
    }
});
</script>
<div id='edit-message'></div>
<div>
    <ul class='allergiesList' style="list-style-type:square">
    {{#each result}}
        <li class='toggle'>

            <p class='allergyLi'>
                &nbsp;&nbsp;{{Value}}

                <button class='allergy-delete'>Delete</button>
                <button class='allergy-edit'>Edit</button>

                </p>
        </li>
        <br/>
      {{/each}}
    </ul>
</div>

<!-- Add new item Button -->
    <p><button id="addNewAllergy">Add New Item</button></p>
<!--script type='text/javascript' src='edits.js'></script-->

<!-- modal window pop up-->

<div id="myModalAllergy" class="modal" name='allergies'>

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Allergies</h2>
    </div>
    <div class="modal-body">
      <select id="allergyList">


      </select>

      <button id="allergySave"  class='save'>Save</button>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>


<div id="fade3" class="black_overlay"></div>
<!--******************************************-->
  {{/section}}
