<!--<table width="100%" border="1" cellpadding="3" cellspacing="0">    -->
{{#section 'notes'}}
<script type="text/javascript" src="css/js/notes.js"></script>
<div><button class='noteEdits' id="addNewNote">Add New Note</button></div>
<p class='date'>Select a Date:
  <select class='note-select' id='dateNote'>
    <option>
    </option>
    {{#each result}}
        <option class='note-date' name="{{EntryDate}}">
            {{formatDate EntryDate "MMMM Do YYYY"}}
        </option>
    {{/each}}
  </select>
</p>
<br/>

<table id='noteTable' width="100%" style="background-color:white">
    <tr>

        <!-- Detail Right Panel-->
        <td>
            <div id="detailNote">
                <div id="noteBox" contenteditable="false">
                <p>
                    <!-- Child Node 1 -->
                </p>
                </div>

                <p align="right">
                    <button class='noteEdits' id="addNewNote">Edit Note</button>
                </p>
            </div>
        </td>

    </tr>
</table>




{{/section}}
