
{{#section 'visits'}}

<p class='date'>Date:
  <select class='date-select'>
    <option>
    </option>
    {{#each result}}
        <option class='visit-date' name="{{Date_Time}}">
            {{formatDate Date_Time "MMMM Do YYYY"}}
        </option>
    {{/each}}
  </select>
</p>
<table width="100%">
    <tr>
    <td class='visit-by-date'></td>

    </tr>
</table>

<!-- Add new item Button -->
    <p><button onclick="addNewVisit(this)">Add New Visit</button></p>



<!-- Pop-Up screen -->
    <div id="light7" class="white_content">

    </div>

    <div id="fade7" class="black_overlay"></div>

{{/section}}
