{{#section 'currentstat'}}
<!-- Show the list of immunizations conditions -->
    <ul style="list-style-type:square">
      {{#each result}}
        <li class='toggle'>
          <p class='statLi'>
            &nbsp;&nbsp;{{Current_Status}}
            <button class="stat-edit">Edit</button>
            <button class="stat-delete">Delete</button>
          </p>
        </li>
        <br/>
{{/each}}
    </ul>


<!-- Add new item Button -->
    <p><button id="addNewImmunization">Add New Item</button></p>
{{/section}}
