

{{#section 'preconditions'}}

<!-- Show the list of pre-existing conditions -->
<div>
    <ul>
      {{#each result}}
        <li class='toggle'>

            <p class='preLi'>
            <div class='pre-value'>&nbsp;&nbsp;{{Value}} </div>
            <div class='pre-entry-date'>{{formatDate EntryDate "MMMM Do, YYYY"}}</div>
            <button class='pre-edit'>Edit</button>
            <button class='pre-delete'>Delete</button>
          </p>

        </li>
        <br/>
        {{/each}}


    </ul>
</div>


    <!-- Add new item Button -->
        <p><button id="addNewPreCon">Add New Item</button></p>

{{/section}}
