<!--<table width="100%" border="1" cellpadding="3" cellspacing="0">    -->
{{#section 'notes'}}
<script type="text/javascript" src="css/js/notes.js"></script>
<table width="100%" style="border:1px solid black">
    <tr>
        <!-- Left Panel -->
        <td width="20%">
        Select a Date:
            <div id="dateNote" style="border:thin dotted black">
                <table id = "dateTableNote" width="100%">
                {{#each result}}
                    <tr class='note-date' style="cursor:pointer">
                        <td>{{EntryDate}}</td>
                    </tr>
                {{/each}}
                </table>
            </div>
        </td>



        <!-- Detail Right Panel-->
        <td width="80%">
        Detail:
            <div id="detailNote">
                <div id="noteBox" contenteditable="false" style="border:thin dotted black">
                <p>
                    <!-- Child Node 1 -->
                </p>
                </div>

                <p align="right">
                    <button id="btnEdit9" onclick="popUpNote(this)">Edit This Note</button>
                </p>
            </div>
        </td>

    </tr>
</table>



<!-- Add new item Button -->
    <p><button onclick="addNewNote(this)">Add New Note</button></p>

<!-- Pop-Up screen -->
    <div id="light9" class="white_content">
        Write something below:
        <br/>

        <!--<textarea id="txtArea9" rows="1"></textarea>            -->
        <p><div id="txtArea9" contenteditable="true" style="border:1px dotted black" align="left" width="50%">
        <p>

        </p>
        </div></p>

        <button id="btnSave9" onclick="updateNote()">Save</button>

        <br/>
        <br/>
        <!--<a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade2').style.display='none'">Close</a>-->
        <a href = "javascript:void(0)" onclick = "closeNote()">Close</a>

        <br/>
        <br/>
        <i><div id="bottomLabel9"></div></i>
    </div>

    <div id="fade9" class="black_overlay"></div>
{{/section}}
